/* react-pdf styles */
.react-pdf__Page {
  margin-bottom: 1rem;
}

.react-pdf__Page__canvas {
  max-width: 100%;
  height: auto !important;
}

.react-pdf__Page__textContent {
  border: 1px solid transparent;
}

.react-pdf__Page__annotations {
  border: 1px solid transparent;
}
